html {
    padding: 0 200px;
}
body {
    background: white linear-gradient(lightblue, lightpink);
    font-family: "monospace", "Comic Sans MS", serif;
}
ul {
    text-align: center;
    font-size: 125%;
}
h1 {
    text-align: center;
}

h3{
    color: black;
}

p.p1{
    text-align:center;
    font-size: 115%
}
p {
    font-size:110%
}

.topnav{
    background-color: lightpink;
    overflow:hidden;
}

.topnav a{
    color: black;
    font-size: 24px;
    padding: 8px;
}

.topnav a:hover{
    background-color: plum;
}

h3{
    text-align:center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}

.topleft {
    position: absolute;
    top: 8px;
    left: auto;
    font-size: 22px;
    color:white;
}

.container {
    position: relative;
}


